<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback message</title>
  </head>
  <body>
    <p><%= @fb.user.name %> <%=@fb.user.last_name %>  has left their feedback:</p>
    <p><%= @fb.body %></p>
  </body>
</html>
