<tr>
    <td><%= link_to question.id, question_path(question) %></td>
    <td><%= question.body %></td>
    <td><%= link_to 'edit', edit_question_path(question) %></td>
    <td><%= link_to "delete", question_path(question), method: :delete, data: {confirm: "Уверены, что хотите удалить этот вопрос?"} %></td>
  </tr>