<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
  <div class="card ">
    <%= image_tag badge.image, class: "card-img-top img-fluid", alt: badge.title %> 
    <div class="card-body">
      <h5 class="card-title"><%= link_to badge.title, admin_badge_path(badge)%></h5>
      <p class="card-text"><%= badge.description %></p>
      <%=link_to t(".edit_badge"), edit_admin_badge_path(badge), class: "btn btn-primary"%>
    </div>
  </div>
</div>

