<tr>
  <td><%= link_to gist.question.body.truncate(24), admin_question_path(gist.question)%></td>
  <td><%= link_to gist.gist_hash, gist.url, target: "_blank"%></td>
  <td><%= gist.test_passage.user.email %></td>
</tr>
