<h2>Результат прохождения теста <%= @test_passage.test.title %></h2>
<p>
  Тест пройден <%= @test_passage.successful? ? "УСПЕШНО" : "НЕУСПЕШНО" %>
</p>
<p >
  <strong>Вопросов с правильными ответами: </strong>
  <font color="<%= @test_passage.successful? ? 'green' : 'red' %>"><%= 100 * @test_passage.correct_answers_part %>%</font>
</p>
