<p>
<%= current_year %>, Vadim Zhukov<br>
<%= github_link("vadimzhukov", "TestGuru") %> -
Можно создавать тесты с перечнем вопросов и варианами ответов, можно проходить тесты, отвечая на вопросы. <br>
<%= link_to "Thinknetica", "https://thinknetica.com", target: "_blank" %>
</p>