<p>
  <%= current_year %>, Vadim Zhukov<br>
  <%= github_link("vadimzhukov", "TestGuru") %> -
  <%= t('.description') %> <br>
  <%= link_to "Thinknetica", "https://thinknetica.com", target: "_blank" %>
</p>
