<tr class = "table-row">
  <td class="text-center"><%= test.id %></td>
  <td class = "title-col"><%= test.title %></td>
  <td class="text-center"><%= test.questions_count %></td>
  <td class="text-center "><%= button_to t('.start'), start_test_path(test), class: %w[btn btn-outline-primary btn-sm]%></td>
</tr>
