<h1>Тест: <%= @test.title %></h1>
<%= link_to "Редактировать тест", edit_test_path(@test) %>

<h2>Вопросы:</h2>
<table>
  <tr>
    <th>ID вопроса</th>
    <th>Текст вопроса</th>
    <th colspan="3">Действия</th>
  </tr>
  <%= render partial: "/questions/question", collection: @test.questions %>
</table>
<br>
<%= link_to "Добавить вопрос", new_test_question_path(@test) %>